body{
    background-color: aqua;
    font-family: Arial, sans-serif;
}
h1{
    background-color: chartreuse;
}
button{
    background-color: blue;
}
button:hover{
    color: aliceblue;
}
@media (max-width:576px){
    body{
        font-size: 14px;
    }
}
@media(min-width:768px){
    
}